.forecast-container {
  margin: 0 2em;
  display: flex;
  overflow-x: scroll;
}

.forecast-container::-webkit-scrollbar {
  height: 1.8em;
}

.forecast-container::-webkit-scrollbar-thumb {
  background: #297fb9af;
  border-radius: 1em;
}

.forecast-container::-webkit-scrollbar-thumb:hover {
  background: #2980b9;
}

.forecast-card {
  margin: 1em;
  border: none;

  border-radius: 5%;
  font-weight: bold;

  background: linear-gradient(to left, #ffffff, #6dd5fa, #2980b9);
  //dark background
  // background: linear-gradient(to right, #003973, #e5e5be);

  .ant-card-meta-title {
    font-size: 1.5em;
    font-weight: bold;
    color: #00097c;
    border-bottom: 2px solid #00097c;
    padding-bottom: 0.5em;
  }

  > * {
    color: #00097c;
  }

  .ant-card-body {
    width: 20em;
    text-align: center;

    .forecast-card-description {
      font-size: 1.3em;
      text-transform: capitalize;
      text-align: baseline;
      margin-bottom: 1em;
    }

    .forecast-card-feels-like {
      margin-bottom: 1.5em;
      font-size: 1.2em;
      text-align: center;
    }

    .forecast-card-details-container {
      display: flex;
      justify-content: space-around;

      .forecast-card-details {
        align-items: baseline;
      }
    }
  }
}
