.forecast-container {
  margin: 0 2em;
  display: flex;
  overflow-x: scroll;
}

.forecast-container::-webkit-scrollbar {
  height: 1.8em;
}

.forecast-container::-webkit-scrollbar-thumb {
  background: #16d9e3;
  border-radius: 1em;
}

.forecast-container::-webkit-scrollbar-thumb:hover {
  background: #13a4ac;
}

.forecast-card {
  margin: 1em;
  border: none;

  border-radius: 5%;
  font-weight: bold;
  background-image: radial-gradient(
    circle 248px at center,
    #16d9e3 0%,
    #30c7ec 47%,
    #46aef7 100%
  );
  box-shadow: 3px 3px 5px 0px #00000085;

  .ant-card-meta-title {
    font-size: 1.5em;
    font-weight: bold;
    color: #525252;
    border-bottom: 2px solid #525252;
    padding-bottom: 0.5em;
  }

  > * {
    color: #525252;
  }

  .ant-card-body {
    width: 20em;
    text-align: center;

    .forecast-card-description {
      font-size: 1.3em;
      text-transform: capitalize;
      text-align: baseline;
      margin-bottom: 1em;
    }

    .forecast-card-feels-like {
      margin-bottom: 1.5em;
      font-size: 1.2em;
      text-align: center;
    }

    .forecast-card-details-container {
      display: flex;
      justify-content: space-around;

      .forecast-card-details {
        align-items: baseline;
      }
    }
  }
}
