.main-container {
  display: block;
}

.search-input-container {
  display: flex;
  justify-content: center;
  margin: 1em;

  .search-input {
    border: 3px solid;
    border-image: linear-gradient(45deg, rgb(95, 95, 95), rgb(0, 151, 20)) 1;
    padding: 0.5em;

    > input {
      border: none;
      outline: none;
      font-size: inherit;
    }
  }
}
