.ant-modal-content {
  > * {
    background: #3492d4;
    background-image: url('https://img.freepik.com/free-vector/sky-background-pastel-paper-cut-design-vector_53876-144660.jpg?t=st=1650308794~exp=1650309394~hmac=e1db7e0d6e9841aae3da38cbaf052f6f2f710acc2eee7ec724379439e8be452a&w=996');
    border: none;
  }

  .ant-modal-title {
    display: flex;
    justify-content: center;
    color: #00097c;
    font-weight: bold;
    font-size: 1.5em;
  }
}

//fix button styles
.show-modal-button {
  background-color: #297fb9af;
  border: none;
  color: #00097c;
  font-weight: bold;
  margin-top: 2em;
  border-radius: 3%;

  & :hover {
    background-color: #2980b9;
  }
}
