.ant-modal-content {
  > * {
    background: #3492d4;
  }

  .ant-modal-title {
    display: flex;
    justify-content: center;
    color: #525252;
    font-weight: bold;
    font-size: 1.5em;
  }
}

//fix button styles
.show-modal-button {
  background-color: #297fb9af;
  border: none;
  color: #00097c;
  font-weight: bold;
  margin-top: 1em;
  border-radius: 3%;

  & :hover {
    background-color: #2980b9;
  }
}
