.ant-modal-content {
  > * {
    background: #3492d4;
  }

  .ant-modal-title {
    display: flex;
    justify-content: center;
    color: #525252;
    font-weight: bold;
    font-size: 1.5em;
  }
}

.show-modal-button {
  background-color: #3492d4;
  border: none;
  color: #525252;
  font-weight: bold;
  margin-top: 1em;
  border-radius: 3%;
}
