.search-bar-container {
  display: flex;
  justify-content: center;
  margin: 1em;

  .search-bar {
    width: 25em;

    .ant-select-selection-search-input {
      font-weight: bold;

      .ant-select-clear {
        background: transparent;
      }
    }
  }
}

.search-bar-options-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-weight: bold;
}

.light {
  .ant-select-selector {
    background: linear-gradient(to left, #ffffff, #6dd5fa, #2980b9);

    .ant-select-selection-search-input {
      color: #00097c;
    }
  }

  .ant-select-clear {
    color: #00097c;

    &:hover {
      color: #000546;
    }
  }

  .ant-select-selection-placeholder {
    color: #ffffff80;
  }

  .search-bar-options-container {
    color: #00097c;
  }

  .ant-select-dropdown {
    background: linear-gradient(to left, #ffffff, #6dd5fa, #2980b9);

    .ant-select-item-empty {
      color: #00087c7c;
    }
  }
}

.dark {
  .ant-select-selector {
    background: linear-gradient(to left, #fff184, #014493, #010751);

    .ant-select-selection-search-input {
      color: #eafaff;
    }
  }

  .ant-select-clear {
    background-color: transparent;
    color: #000546;
  }

  .ant-select-item-option:hover,
  .ant-select-item-option-active {
    background-color: #014493;
  }

  .ant-select-selection-placeholder {
    color: #ffffff80;
  }

  .search-bar-options-container {
    color: #eafaff;
  }

  .ant-select-dropdown {
    background: linear-gradient(to left, #fff184, #014493, #010751);

    .ant-select-item-empty {
      color: #eafaff75;
    }
  }
}
