.ant-tabs-nav-wrap {
  display: flex;
  justify-content: space-around;
  margin-top: 1em;
}

.ant-tabs-tab {
  font-weight: bold;
  font-size: 1.3em;
}

.light {
  .ant-tabs-tab-btn {
    color: #2980b9;

    &:hover {
      color: #00097c;
    }
  }

  .ant-tabs-tab-active {
    > * {
      color: #00097c !important;
    }
  }

  .ant-tabs-ink-bar {
    background-color: #00097c;
  }
}

//set dark styles
.dark {
  .ant-tabs-tab-btn {
    color: #eafaff;

    &:hover {
      color: #fff184;
    }
  }

  .ant-tabs-tab-active {
    > * {
      color: #fff184 !important;
    }
  }

  .ant-tabs-ink-bar {
    background-color: #fff184;
  }
}
