.weather-info-container {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  color: rgb(82, 82, 82);
  margin: 1em;
  font-size: 1.2em;
  font-weight: bold;
  width: 80%;
  margin: 0 auto;

  .main-weather-info,
  .secondary-weather-info {
    flex-direction: column;
    text-transform: capitalize;
    padding: 1em;
    margin: 1em;
  }

  .main-weather-info {
    font-size: 1.5em;
  }
}
