@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import './shared/styles/searchBar.scss';
@import './shared/styles/currentWeather.scss';
@import './shared/styles/notFound.scss';
@import './shared/styles/tabs.scss';
@import './shared/styles/forecast.scss';
@import './shared/styles/modal.scss';

body {
  font-family: 'Noto Sans Mono', monospace;
  background-repeat: no-repeat;
  background-size: 100%;
  width: auto;
  height: auto;
}

.light {
  background-image: url('./assets/light-background.jpg');

  .ant-switch {
    background: linear-gradient(to left, #fff184, #014493, #010751);

    .ant-switch-inner {
      font-size: 1.2em;
      color: #fff184;
    }
  }
}

.dark {
  background-image: url('./assets/dark-background.jpg');

  .ant-switch {
    background: linear-gradient(to right, #ffffff, #6dd5fa, #2980b9);

    .ant-switch-inner {
      font-size: 1.2em;
      color: #00097c;
    }
  }
}

.ant-switch {
  position: absolute;
  z-index: 1;
  left: 90%;
  top: 1%;

  .ant-switch-inner {
    font-weight: bold;
    font-size: 1.2em;
  }
}

.main-container {
  display: block;
}
